<%= form_with(model: question, local: true) do |form| %>
  <%= render partial: '/shared/error_messages', locals: { model: question } %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :contents %>
    <%= form.text_area :contents %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
